@media only screen and (max-width: 400px){

main {
    margin: 1em;
    
    }

header {
    background-color: lightgray;

}

.Preis {
    position: absolute;
    top: 20px;
    right: 0;
    margin: 10px;
}



#bestellen {
    left: 0;
}
}

.sliderWert {
    display: inline-block;
}

