fieldset {
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-end;
    align-content: flex-start;
    width: 400px;
    background-color: lightgray;
    border: white;
    margin-top: 10px;
}

#colorOptions {
    background-color: white;
}

legend {
    background-color: gray;
    color: white;
}

#myCanvas {
    float: left;
}

#colorOptions {
    width: 300px;
}

#purple1 {
    background-color: blueviolet;
}